<<<<<<< HEAD
@import "~bootstrap/scss/bootstrap";
// @import "~materialize-css/dist/css/materialize";
// @import "~bootstrap";
=======
// @import "~bootstrap/scss/bootstrap";
@import "~materialize-css/dist/css/materialize";
>>>>>>> 99332c684985e29131698a3321c4eb871f09545f
// @import '_reset.scss';
@import '_sprites.scss';

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

<<<<<<< HEAD
$color-white: #ffffff;

=======
>>>>>>> 99332c684985e29131698a3321c4eb871f09545f

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}
main {
    flex: 1 0 auto;
    position: relative;
    min-height: calc(100vh);
    
}
nav {
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
<<<<<<< HEAD
    width: 100%;
    height: 70px;
    ul {
        list-style-type: none;
        float: right;
        li {
            display: inline-block;
            padding: 18px 0px 0px 0px;
            
            
        };
        
    };
    .nav-wrapper, .container {
        height: 100%;
    }
=======
>>>>>>> 99332c684985e29131698a3321c4eb871f09545f
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
<<<<<<< HEAD
button.login {
    background-color: #26a69a;
    border-radius: 2px;
    padding: 3px 10px 3px 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    color: $color-white;
    &:hover {
        color: $color-white;
        -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
};
button.register {
    background-color: #64b5f6 ;
    border-radius: 2px;
    padding: 3px 10px 3px 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    color: $color-white;
    &:hover {
        color: $color-white;
        -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
};
.btn-big {
    padding: 12px 30px 12px 30px !important;
    // color: red;
}

footer {
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    width: 100%;
    height: 300px;
    // bottom: -100px;
    background-image: url('../img/bg.png');
    background-repeat: repeat;
}

=======
.page-footer {
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.3);
}
>>>>>>> 99332c684985e29131698a3321c4eb871f09545f
.brand-logo {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
<<<<<<< HEAD
    font-size: 1.5rem;
    display: block;
    float: left;
    margin-top: 18px;
    color: $color-white;
}
.brand-logo:hover {
    text-decoration: none;
    color: $color-white;
=======
    top: 1px;
}
.brand-logo:hover {
    text-decoration: none;
>>>>>>> 99332c684985e29131698a3321c4eb871f09545f
}
.nav-wrapper button {
    margin-left: 15px;
}
.nav-wrapper button i {
    position: relative;
    line-height: 100%;
    height: 100%;
    top: 5px;
}
<<<<<<< HEAD

=======
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
>>>>>>> 99332c684985e29131698a3321c4eb871f09545f
.main_container {
    z-index: 99;
    position: absolute;
    top: 55%;
    left: 50%;
<<<<<<< HEAD
    transform: translate(-50%, -55%);
    color: white;
    h2, h3 {
        text-align: center;
        font-weight: 300;
        font-size: 2.3rem;
        line-height: 4rem;
    };
    h4 {
        font-size: 2rem;
    };
    p {
        font-size: 20px;
        font-weight: 300;
        font-size: 1rem;
    };
    button {
        position: relative;
        margin: 0 auto;
        display: block;
        margin-top: 40px;
    }
}
header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: grey;
    // overflow: hidden;
    video {
        // position: absolute;
        // width: 100vw;
        // height: 100%;
        z-index: 80;
        // overflow: hidden;
    }
}
main {
    position: relative;
}
#1 {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: $color-white !important;
    z-index: 110;
}

#videoDiv {
    width: 100%; 
    height: 100vh; 
    position: relative;
    overflow: hidden;
}
#videoBlock {
    width: 100%; 
    height: 100%;  
    display: flex;  
    justify-content: center; 
    align-items: center;
    // overflow: hidden;
}





=======
    transform: translate(-50%, -50%);
    color: white;
}
.main_container h2, .main_container h3{
    text-align: center;
    font-weight: 300;
    font-size: 2.3em;
}
.main_container h4 {
    font-size: 2em;
}
.main_container p {
    font-size: 20px;
    font-weight: 300;
    font-size: 1em;
}
>>>>>>> 99332c684985e29131698a3321c4eb871f09545f
blockquote {
    border-left: 3px solid rgba(167,255,235, 0.5);
}
.how_it_works {
    margin-top: 50px;
    position: relative;
}
.how_it_works button {
    top: 55px;
    left: 50%;
    transform: translate(-50%, -50%);
}